.logo {
    width: 120px;
    height: 100px;
}

.logo-text {
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
}

.search-input {
    border: none;
    border-bottom: 1px solid lightblue;
    padding: 5px 10px;
    outline: none;
    margin-right: 10px;
}

.icon {
    font-size: 20px;
    margin-right: 10px;
}

.icon:hover {
    cursor: pointer;
}